DB_URL=jdbc:mysql://localhost:3306/tournament-db
DB_USERNAME=username™
DB_PASSWORD=password™

# JWT - 128+ bit secret and an expiration time in seconds
JWT_SECRET=exampleJwtSecretYouShouldMakeYourOwn
JWT_EXPIRATION=2592000
